:root {
  --main-color: #3787FE;
  --second-color: #21D496;
  --text-color: #343434;
  --grey: rgb(148, 148, 148);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #F3F4F6;
  font-size: 16px;
  color: var(--text-color);
}



main {
  max-width: 1200px;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;

}

* {
  box-sizing: border-box;
}

nav {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1,
h2 {
  line-height: 1.1;
  letter-spacing: 1px;
}

h1 {
  font-size: 4.5rem;

}

h2 {
  font-size: 2.2rem;
}

footer {
  display: flex;
  align-items: center;
  padding: 2.5rem;
  justify-content: center;
  font-size: .875rem;
  width: 100%;

}

footer p {
  color: var(--gery);
}

.footer-item {
  margin: 1rem 0;
  padding: .3rem 2rem;
}

.footer-item:not(:last-child) {
  border-right: 1px solid rgb(132, 131, 131);
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center !important;
}

.mr-2 {
  margin-right: 1.7rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.m-auto {
  margin: auto !important;
}

.bg-blue {
  background-color: var(--main-color);
}

.bg-green {
  background-color: var(--second-color);
}

.flex {
  display: flex;
}

/* Nav Bar */

.nav-links {
  margin: 0;
  list-style-type: none;
  float: left;

}

.nav-links li {
  display: inline-block;
  padding: 1rem;
}

.button {
  display: flex;
  align-items: center;
  color: white;
  padding: 1rem;
  margin: 0;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;

}

.pill-button {
  padding: 1rem 3rem;
  border-radius: 7rem;
}

.circle-button {
  padding: 1rem;
  border-radius: 50%;
  justify-content: center;
}

/* Form */

form,
input,
textarea {
  display: block;
  width: 100%;
  font-family: Nunito;
}


.form-group {
  position: relative;
  padding: 1rem 0;
  margin-bottom: 1rem;
  width: 100%;
}

.form-group textarea {
  resize: none;
  height: 100%;
  overflow: hidden;
}

.form-group input,
.form-group textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--grey);
  font-size: 1rem;
  padding: 10px 0;
  display: block;
  width: 100%;
  font-weight: 300;

}

.form-group label {
  color: var(--grey);
  font-size: .875rem;
  font-weight: 300;
  position: absolute;
  text-transform: capitalize;
  pointer-events: none;
  top: 0;
  transform: translateY(20px);
  transition: all 0.2s ease-in-out;
  left: 0px;
}

.form-group.active input,
.form-group.active textarea {
  border-bottom-color: var(--main-color);
  border-bottom-width: 2px;
  outline: none;
  font-weight: 500;

}

.form-group.active label {
  font-size: .75rem;
  transform: translateY(0);
}

form button {
  margin-left: auto !important;
}

.form-group .invalid {
  font-size: .75rem;
  color: rgb(255, 62, 107);
  margin: .3rem 0;
}

/* Hero Sections */
.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.hero-heading {
  max-width: 600px;

}

.hero-heading p {
  letter-spacing: 1.5px;
}

.sub-heading {
  max-width: 700px;
}

.sub-heading p {
  margin: 0;
}

.sub-heading .label {
  font-size: 1.2rem;
  color: var(--main-color);
  font-weight: 500;
}

.sub-heading .description,
.why-list-details .description,
.service-item .label {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--gery);
}

.sub-heading h1 {
  margin-top: 1rem;
}

.hero-image {
  border-radius: 50%;
  /* background-color: red; */
  overflow: hidden;
  border: 0;
  position: relative;
  width: 500px;
  height: 500px;
}

img.hero-img-girl {
  top: 50px !important;
  filter: grayscale(1);
}


/* Services */
.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.service-item {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  height: 250px;
  margin: 0 1.5rem;
}

.service-item p {
  margin: 0;
}

.service-item .title {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 1rem 0 .5rem;
}



.service-item .icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.7rem;

}

/* Why choose us - section */

.why-wrapper {
  display: flex;
}

.why-details {
  padding-right: 4rem;
}

.why-image {
  display: flex;
  overflow: hidden;
  border-radius: 1.7rem;
}

.why-heading .description {
  max-width: 500px;
}

.why-list {
  display: grid;
  grid-template-columns: 15% 85%;
  align-items: center;
  margin-top: 3rem;
}

.why-list-icon {
  display: flex;
  height: 60px;
  width: 60px;
  background-color: var(--main-color);
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.why-list-details p {
  margin: 0;
}

.why-list-details .title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Contact Section */
.contact {
  display: grid;
  grid-template-columns: 40% 60%;
}

/* .contact .sub-heading {
  max-width: 330px;
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
} */